.container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.leftPanel {
    padding: 30px;
    flex: 0;
}

.rightPanel {
    padding: 30px;
    flex: 1;
}

.image {
    width: fit-content;
}

.info {

}

.title {

}

.description {

}
