.container {
    width: 100%;
}

.bannerWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.banner {
    flex: 7;
    background-color: #e9f3ff;
}

.bannerOverlay {
    flex: 3;
}

