.pageContainer {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    margin: 0;
}

.pageContent {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    margin: 0;
}