.navbarContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    padding: 15px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
}

.verticalMenu {
    display: none;
    justify-content: center;
}

.horizontalMenu {
    display: flex;
    align-items: center;
}

.logo {
    flex: 0 0 200px;
}

.menuButtons {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menuToggle {
    flex-grow: 0;
    align-self: center;
    display: none;
}



.drawerContainer {
    width: 40vw;
    height: 100%;
}


@media screen and (max-width: 850px) {

    .verticalMenu {
        display: flex;
    }

    .horizontalMenu {
        display: none;
    }

    .navbarContainer {
        justify-content: space-between;
    }

    .menuButtons {
        flex-direction: column;
    }

    .menuToggle {
        display: block;
    }

}

