.navbarContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    padding: 15px;
}

.logo {
    flex: 0 0 200px;
}

.menuButtons {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menuToggle {
    flex-grow: 0;
    align-self: center;
    display: none;
}



.drawerContainer {
    width: 40vw;
    height: 100%;
}


@media screen and (max-width: 850px) {

    .menuButtons {
        display: none;
    }

    .menuToggle {
        display: block;
    }

}