.navbarContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    padding: 15px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
}

.verticalMenu {
    display: none;
    justify-content: center;
}

.horizontalMenu {
    display: flex;
    align-items: center;
}

.logo {
    flex: 0 0 200px;
}

.logoContainer {
    margin-right: 30px;
}

.menuButtons {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.centerPanel {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.rightPanel {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menuToggle {
    flex-grow: 0;
    align-self: center;
    display: none;
}

.drawerContainer {
    width: fit-content;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.drawerLogo {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.drawerLogo img {
    height: 60px;
}

.logoTextDrawer {
    margin-left: 15px;
    font-size: 1.5rem;
}

.logoTextNavbar {
    margin-left: 15px;
    font-size: 1.5rem;
}

.navLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navLogo img {
    height: 60px;
}

@media screen and (max-width: 850px) {

    .verticalMenu {
        display: flex;
    }

    .horizontalMenu {
        display: none;
    }

    .navbarContainer {
        padding: 15px 0;
        justify-content: space-between;
    }

    .menuButtons {
        flex-direction: column;
    }

    .menuToggle {
        display: block;
    }

}

@media screen and (max-width: 550px) {

    .logoTextNavbar {
        display: none;
    }

}
