
.gameImage{
    border-radius: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
    height: 250px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.gameImageNotLoaded{
    display: none;
}

.actionsButtonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.endTurnButtonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.actionsButtonsContainer button{
    width: 10rem;
    margin: 0.3rem;
}

.endTurnButtonContainer button{
    width: 20rem;
    margin: 1rem;
}



@media screen and (max-width: 900px) {

    .actionsButtonsContainer {
        flex-direction: row;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .playroomPlayersView{
        padding-top: 1rem;
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .actionsButtonsContainer button{
        height: 5rem;
        hyphens: auto;
        hyphenate-character: "";
        width: 2rem;
    }

    .endTurnButtonContainer button{
        width: 21rem;
    }

    .gameImage{
        display: none;
    }

    .imgContainer{
        margin: 2rem;
    }


    
}


@media screen and (max-width: 370px) {

    .actionsButtonsContainer {
        flex-direction: row;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        flex-flow: column;
    }

    .actionsButtonsContainer button{
        height: 2.5rem;
        width: 12rem;
    }



    
}
